@model BusinessLibrary.IDrivable
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    unity - mvc
    <p>@Model.Drive();</p>
</div>
</body>
</html>
